/* About */
.authorWrapper {
  .infoHeader {
    text-align: center;
    img {
      height: 120px;
      width: auto;
      margin-bottom: 25px;
    }
    h1 {
      margin-bottom: 25px;
    }
  }
  .bibliography {
    width: 75%;
    margin: 0 auto;
  }
}
