/* Global styles */
html,
body {
  overflow-x: hidden;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: linear-gradient(180deg, #342637 0%, #684657 100%);
  height: 100vh;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Righteous', cursive;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.flex {
  display: flex;
  &.f-d-c {
    flex-direction: column;
  }
  &.f-d-r {
    flex-direction: row;
  }
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.center-hori {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.center-verti {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.center-both {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}

.h100 {
  height: 100%;
}

.h50 {
  height: 50%;
}

.h25 {
  height: 25%;
}

.full-screen {
  height: 100vh;
  width: 100vw;
}

.w-h100 {
  width: 100%;
  height: 100%;
}

.img-fit {
  width: 100%;
  height: auto;
}

.font4 {
  font-size: 4rem;
}

.font3 {
  font-size: 3rem;
}

.font2 {
  font-size: 2rem;
}

.font1 {
  font-size: 1rem;
}

.italic {
  font-style: italic;
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}
.mt5 {
  margin-top: 5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.newCursor {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.05s;
  width: 40px;
  height: 40px;
  z-index: 9999;
  pointer-events: none;
  border-radius: 50%;
  border: 2px solid #fff;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    content: '';
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  &.cursorHover {
    &::before {
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
  }
}

main {
  position: relative;
}

.inView {
  .homeImage {
    margin-top: 0;
    transition: all 2s ease;
  }
}

.mobw50 {
  @media (min-width: 320px) and (max-width: 767px) {
    width: 100vw;
  }
}

.mobNorm {
  @media (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
  }
}

.mobDNone {
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}

.mobOnly {
  @media (min-width: 767px) {
    display: none;
  }
}
