/* Header styles */

header {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 5vw;
  background-color: #000;
  transition: width 1s ease;
  &.expanded {
    width: 30vw;
  }
  .logo {
    z-index: 1000;
    background-color: #000;
    padding: 0 3px;
    .logoButton {
      border: 1px solid #fff;
      color: #fff;
      background: none;
      font-size: 1.6em;
      cursor: pointer;
    }
  }
}

.home {
  header {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
