section {
  ul {
    margin: 0;
    padding: 0;
    li {
      height: 100vh;
      margin-bottom: 40vh;
      @media (min-width: 320px) and (max-width: 767px) {
        margin-bottom: 10vh;
        p {
          margin-top: 0;
          margin-bottom: 1rem;
          position: absolute;
          top: 75%;
          left: 0;
          width: 100%;
          text-align: center;
          background: rgba(30, 30, 30, 0.45);
          height: 12%;
          font-size: 2em;
          padding-top: 7px;
        }
      }
      a {
        h1 {
          margin-top: 7em;
        }
        .imgLink {
          height: 60%;
          width: 100%;
          overflow: hidden;
          position: relative;
          img {
            transition: all 2s ease;
            margin-top: 300px;
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
