.logo {
  z-index: 1000;
  background-color: #000;
  padding: 0 3px;
  transition: all 1s ease;
  span {
    transform: translateX(400%);
    display: inline-block;
  }
  .logoButton {
    border: 1px solid #fff;
    color: #fff;
    background: none;
    font-size: 2em;
    box-shadow: 0 0 0 rgba(255, 211, 218, 0.4);
    animation: pulse 3s infinite;
    transition: all 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 15%;
    cursor: none;
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 1px;
      height: 1px;
      transition: all 0.3s ease;
      background-color: #fff;
      content: "";
      opacity: 0;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      animation: none;
      &::before {
        width: 100%;
        background-color: #684657;
        opacity: 1;
        height: 100%;
      }
    }
    &:focus {
      outline: none;
      border-width: 2px;
    }
    &.expanded {
      top: 3rem;
      padding-left: 0;
      span {
        animation: appear 1s ease forwards;
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: tranlateX(400%);
  }
  100% {
    opacity: 1;
    transform: translateX(10%);
  }
}
